{
  "*.{js,cjs,mjs}": ["eslint --fix"],
  "{!(package)*.json,*.code-snippets,.!(browserslist|npm)*rc}": ["prettier --write --parser json"],
  "*.md": ["prettier --write"],
  "*.vue": ["eslint --fix"]
}
